.product-app {
    display: flex;
    flex-direction: column;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: sticky;
    top: 50px;
    background-color: white;
    z-index: 999;
    margin-bottom: 3rem;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 16px;
    background-color: #f0f0f0;    
    padding: 5px;
    padding-left: 1rem;
    padding-right: 1rem;

}

.search-input {
    width: 100%;
    border: none;
    outline: none;
    background-color: #f0f0f0;
    color: #909090;
}


.clear-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    border-left: 1px solid #ccc;
    border-radius: 0;
    padding: 2px;
    padding-left: 1rem;
    cursor: pointer;
    color: #919191;
    font-size: 20px;
}
    .clear-button:hover {
        border: none;
        border-left: 1px solid #ccc;
    }

.clear-icon {
    width: 24px;
    height: 24px;
}

.filterable-product-grid {
    display: flex;
    flex-direction: row;
    min-height: 800px;
}

.category-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 250px;
    background-color: white;
    margin-right: 40px;    
    z-index: 998;
    max-height: calc(100vh - 7rem);
}

.product-category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding: 0.5rem 0;
    width: 100%;
    cursor: pointer;
    background: none;
    color: #333333;
    transition: transform 0.2s ease; 
}

    .product-category:hover {
        border-bottom: 1px solid #ccc;
        transform: scale(1.05);
    }


    .product-category img {
        height: 50px;
        width: 50px;
        margin-right: 10px;
    }

    .product-category.selected {
        font-weight: 700;
    }

.category-name {
    font-weight: 500;
}

.named-product-grid {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.product-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product-grid .item {
    flex: 1;
}


.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
    padding: 1rem;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.2s ease;
}

    .product-card:hover {
        transform: scale(1.05);
    }

.product-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

    .product-content img {
        width: 14px;
        height: 14px;
        margin: 0 2px;
        background-size: cover;
        background-position: center;
    }

.product-image {
    height: 140px;
    width: 140px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.product-name, .product-unit, .product-price {
    font-weight: 700;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.product-rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: none;
    border: 1px solid #28a745;
    border-radius: 8px;
    color: #333333;
    transition: transform 0.2s ease;
    height: 42px;
}

    .add-to-cart-button:hover {
        background-color: #28a745;
        border: 1px solid white;
        color: white;
    }

    .add-to-cart-button:active {
        transform: scale(0.90);
    }   

.quantity-controller {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.remove-from-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    background-color: #DF2E38;
    border: none;
    border-radius: 8px;
    color: white;
    height: 42px;
    width: 42px;
    margin-left: 10px;
    transition: transform 0.2s ease;
}

    .remove-from-cart-button:hover {
        background-color: #FFA27F;
        border: 1px solid #DF2E38;
        color: #DF2E38;
    }

    .remove-from-cart-button:active {
        transform: scale(0.80);
    }

@media(max-width: 766.99px) {
    .product-card {
        justify-content: space-between;
        width: 100%;
        transition: transform 0.2s ease;
    }

    .product-content {
        flex-direction: row;
    }

    .product-image {
        width: 30%;
    }

    .product-info {
        display: flex;
        align-items: start;
        width: 70%;
    }
    
    .wrapper {
        flex-direction: column;
        align-items: start;
        padding: 0;
        margin-top: 1rem;
    }

    .product-price {
        margin-top: 1rem;
        font-size: 18px;
    }

    .add-to-cart-button {

    }
}

@media(max-width: 991px) {
    .search-bar {
        width: 100%;
    }

    .filterable-product-grid {
        flex-direction: column;
    }

    .category-filter {
        flex-direction: row;
        align-items: center;
        margin: 1rem 0;
        position: relative;
        overflow: auto;
        padding: 0.5rem 0;
    }
        .category-filter::-webkit-scrollbar {
            display: none;
        }
    .category-filter h5 {
        display: none;
    }

    .product-category {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        border: none;
        margin: 0 1rem;
    }

        .product-category:hover {
            border: none;
        }

        .product-category img {
            margin: 0;
        }

    .search-bar-container {
        margin: 0;
    }
}

@media(min-width: 992px) {
    .search-bar {
        min-width: 560px;
    }

    .category-filter {
        position: sticky;
        top: 12rem;
    }
}